.card {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 96px;
}

.column {
	position: relative;
	float: left;
	margin: 50px 5px 0px 5px;
    width: 72px;
    height: 96px;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #58FA58;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
}

.free {
    float: left;
}

.highlight {
    -moz-box-shadow: 0px 0px 8px #f00;
    -webkit-box-shadow: 0px 0px 8px #f00;
    box-shadow: 0px 0px 8px #f00;
}

.suit {
    float: right;
}

.free, .suit {
    width: 72px;
    height: 96px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#table {
    background-color: transparent;
    width: 720px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: yellow;
    display: none;
}