body, html {
    background-image: url("../logos/green_felt.jpg");
    background-size: fit;
    background-repeat: no-repeat;
    color: white;
    cursor: no-drop;
}

#gameNew, #gameEnd, #helpBtn, #scoreBtn, #timerBtn, #pauseBtn, #resumeBtn {
    padding: 10px;
    background-color: transparent;
    color: white;
}

#timerBtn {
    padding: 10px;
    /*width: 390px;*/
    width: 275px;
}

#scoreBtn, #timerBtn {
    cursor: no-drop;
}

#gameNew {
    cursor: pointer;
}

#gameEnd, #pauseBtn, #resumeBtn {
    cursor: no-drop;
}

#gameNew:enabled, #gameEnd:enabled, #helpBtn:enabled, #pauseBtn:enabled, #resumeBtn:enabled {
    border-color: red;
    background-color: red;
}

#gameNew, #gameEnd, #helpBtn, #pauseBtn, #resumeBtn {
    transition: all 0.2s ease-in-out;
}

#gameNew:hover:enabled, #gameEnd:hover:enabled, #helpBtn:hover, #pauseBtn:hover:enabled, #resumeBtn:hover:enabled {
    color: yellow;
    box-shadow: 0px 0px 5px yellow;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    color: black;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 85%; /* Could be more or less, depending on screen size */
    height: 50%;
    overflow-y: scroll;
}

.modal-content h1 {
    color: black;
}

.modal-content p {
    color: black;
}

.modal-content::-webkit-scrollbar {
    width: 1em;
}
 
.modal-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.modal-content::-webkit-scrollbar-thumb {
    background-color: crimson;
    outline: 1px solid red;
}

.column {
    cursor: pointer;
}

#col4, #col5, #col6, #col7 {
    float: right;
}