* {
  margin: 0;
  padding: 0;
} 
body, html {
    background-image: url("../logos/green_felt.jpg");
    background-repeat: no-repeat;
    color: white;
    cursor: no-drop;
    background-size: cover;
    min-height: 100%;
}
#gameNew, #gameEnd, #helpBtn, #scoreBtn, #timerBtn, #pauseBtn  {
    padding: 10px;
    background-color: transparent;
    color: white;
}
#timerBtn {
    padding: 10px;
    /*width: 390px;*/
    width: 275px;
}
#scoreBtn, #timerBtn {
    cursor: no-drop;
}
#gameNew {
    cursor: pointer;
}
#gameEnd, #pauseBtn  {
    cursor: no-drop;
}
#gameNew:enabled, #gameEnd:enabled, #helpBtn:enabled, #pauseBtn:enabled, :enabled {
    border-color: red;
    background-color: red;
}
#gameNew, #gameEnd, #helpBtn, #pauseBtn  {
    transition: all 0.2s ease-in-out;
}
#gameNew:hover:enabled, #gameEnd:hover:enabled, #helpBtn:hover, #pauseBtn:hover:enabled {
    color: yellow;
    box-shadow: 0px 0px 5px yellow;
    cursor: pointer;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 99999;
} 
/* Modal Content/Box */
.modal-content {
    color: black;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 85%; /* Could be more or less, depending on screen size */
    height: 50%;
    overflow-y: scroll;
    z-index: 99999;
    text-align: left;
}
.modal-content2 {
    height: 300px;
    width: 40%;
    overflow: hidden;
    margin: 22% auto;
    padding: 20px;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

    color: black;
}
.modal-content h1 {
    color: black;
}
.modal-content2 h1 {
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    margin-top: 0px;
    color: white;
}
.modal-content p, .modal-content2 p {
    color: black;
}
.modal-content::-webkit-scrollbar {
    width: 1em;
}
.modal-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.modal-content::-webkit-scrollbar-thumb {
    background-color: crimson;
    outline: 1px solid red;
}
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: crimson;
    outline: 1px solid red;
}
.column {
    cursor: pointer;
}
#col4, #col5, #col6, #col7 {
    float: right;
}
.dialog-ovelay {
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 999999;
}
.dialog-ovelay .dialog {
    width: 405px;
    margin: 0 auto 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 0px;
    overflow: hidden;
}
.dialog-ovelay .dialog header {
    padding: 10px 8px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #e5e5e5;
}
.dialog-ovelay .dialog header h3 {
    font-size: 20px;
    margin: 0;
    color: #555;
    display: inline-block;
}
.dialog-ovelay .dialog .dialog-msg {
    padding: 12px 10px;
}
.dialog-ovelay .dialog .dialog-msg p{
    margin: 0;
    font-size: 15px;
    color: #333;
}
.dialog-ovelay .dialog footer {
    border-top: 1px solid #e5e5e5;
    padding: 8px 10px;
}
.dialog-ovelay .dialog footer .controls {
    direction: rtl;
    float: center;
}
.dialog-ovelay .dialog footer .controls .button {
    padding: 5px 15px;
    border-radius: 3px;
}
#btnCancelAction, #btnDoAction{
    cursor: pointer;
}
#btnCancelAction {
    background-color: rgb(248, 248, 248);
    border: 1px solid green;
    color: green;
    padding: 5px;
}
#btnDoAction {
    background-color: white;
    border: 1px solid #d32f2f;
    color: #d32f2f;
    padding: 5px;
}
.link {
    padding: 5px 10px;
    cursor: pointer;
}
#btnDoAction:hover {
    background-color: red;
    color: white;  
    outline: none;
    transform: scale(1);
    text-decoration: none;
    box-shadow: none;
    padding: 5px;
}
#btnCancelAction:hover {
    background-color: green;
    color: white; 
    outline: none;
    transform: scale(1);
    text-decoration: none;
    box-shadow: none;
    padding: 5px;
}
#imageHeader {
    font-size: 45px;
}
.meter { 
    width: 50%;
    height: 10px;
    background: #f3efe6;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.meter span {
    display: block;
    height: 100%;
}
.progress {
    background-color: crimson;
    animation: progressBar 8s ease-in-out;
    animation-fill-mode:both; 
}
@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}
#loadingtext {
    color: white;
    font-size: 16px;
    text-align: center;
}
.loader .loader_text {
    font-size: 50px;
    font-weight: 600;
    color: #26001B;
    margin: 20px auto;
    text-align: center;
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: -80px;
}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}