<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../logos/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="login-box">
        <div class="lb-header">
          <a href="#" class="active" id="login-box-link">Login</a>
          <a href="#" id="signup-box-link">Sign-up</a>
        </div>
        <div class="social-login">
          <a href="/auth/github">
            <i class="fa fa-github fa-lg"></i>
            Login in with github
          </a>
          <a href="/auth/google">
            <i class="fa fa-google-plus fa-lg"></i>
            Log in with Google
          </a>
        </div>
        <form class="email-login" action="/login" method="post">
          <div class="u-form-group">
            <input type="email" name="email" placeholder="Email" aria-label="email"/>
          </div>
          <div class="u-form-group">
            <input type="password" name="password" placeholder="Password" aria-label="password"/>
          </div>
          <div class="u-form-group">
            <button>Login</button>
          </div>
          <div class="u-form-group">
            <button onclick="redirect()">Login as guest</button>
          </div>
          <div class="u-form-group">
            <button id="goBack" onclick="redirect()">Go back</button>
          </div>
          <div class="u-form-group">
            <a href="/forgotpassword" class="forgot-password">Forgot password?</a>
          </div>
        </form>
        <form class="email-signup" action="/signup" method="post">
          <div class="u-form-group">
            <input type="username" name="username" placeholder="Username" aria-label="username"/>
          </div>
          <div class="u-form-group">
            <input type="email" name="email" placeholder="Email" aria-label="email"/>
          </div>
          <div class="u-form-group">
            <input type="password" name="password" placeholder="Password" aria-label="password"/>
          </div>
          <div class="u-form-group">
            <button>Sign Up</button>
          </div>
          <div class="u-form-group">
            <button id="goBack" onclick="redirect()">Go back</button>
          </div>
        </form>
    </div>
    <script>
        $(".email-signup").hide();
        $("#signup-box-link").click(function(){
            $(".email-login").fadeOut(100);
            $(".email-signup").delay(100).fadeIn(100);
            $("#login-box-link").removeClass("active");
            $("#signup-box-link").addClass("active");
        });
        $("#login-box-link").click(function(){
            $(".email-login").delay(100).fadeIn(100);
            $(".email-signup").fadeOut(100);
            $("#login-box-link").addClass("active");
            $("#signup-box-link").removeClass("active");
        });
        $(".email-login").submit(function(e) {
            e.preventDefault();
        });
        $(".email-signup").submit(function(e) {
            e.preventDefault();
        });
        function redirect() {
            window.location.assign('/solitaire');
        }
    </script>
</body>
</html> 