    html, body{
        cursor: no-drop;
        background-repeat: no-repeat;
        height: 100%;
        max-width: 100%;
        background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
        background-color: #7f5a83;
        margin: 0;
        padding: 0;
        font-family: 'Antic Slab', serif; 
        font-weight: normal;
    }
    body::-webkit-scrollbar {
        width: 0em;
        background-color: transparent;
    }
    body::-webkit-scrollbar-track {
        box-shadow: none;
        background-color: transparent;
    }
    body::-webkit-scrollbar-thumb {
        background-color: red;
        outline: none;
    }
    .login-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); /* for IE 9 */
        -webkit-transform: translate(-50%, -50%); /* for Safari */
        width: 500px;
        height: 470px;
        background-color: #fff;
        padding: 10px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    }
    .login-box2 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); /* for IE 9 */
        -webkit-transform: translate(-50%, -50%); /* for Safari */
        width: 500px;
        height: 390px;
        background-color: #fff;
        padding: 10px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    }
    .lb-header {
        position: relative;
        color: #00415d;
        margin: 5px 5px 10px 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        text-align: center;
        height: 28px;
    }
    .lb-header a{
        margin: 0 25px;
        padding: 0 20px;
        text-decoration: none;
        color: #666;
        font-weight: bold;
        font-size: 15px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    .lb-header .active{
        color: #029f5b;
        font-size: 18px;
    }
    .social-login{
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        padding: 10px 0 15px 0;
        border-bottom: 1px solid #eee;
    }
    .social-login a{
        position: relative;
        float: left;
        width:calc(40% - 8px);
        text-decoration: none;
        color: #fff;
        border: 1px solid rgba(0,0,0,0.05);
        padding: 12px;
        border-radius: 2px;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0 3%;
        text-align: center;
    }
    .social-login a i{
        position: relative;
        float: left;
        width: 20px;
        top: 2px;
    }
    .social-login a:first-child{
        background-color: transparent;
        border: 2px solid #49639F;
        color: #49639F;
    }
    .social-login a:first-child:hover {
        background-color: #49639F;
        color: white;
    }
    .social-login a:last-child{
        background-color: transparent;
        border: 2px solid #DF4A32;
        color: #DF4A32;
    }
    .social-login a:last-child:hover {
        background-color: #DF4A32;
        color: white;
    }
    .email-login,.email-signup{
        position:relative;
        float: left;
        width: 100%;
        height: auto;
        margin-top: 20px;
        text-align: center;
    }
    .u-form-group{
        width:100%;
        margin-bottom: 10px;
    }
    .u-form-group input[type="username"],
    .u-form-group input[type="email"],
    .u-form-group input[type="password"]{
        width: calc(50% - 22px);
        height: 45px;
        outline: none;
        border: 1px solid #ddd;
        padding: 0 10px;
        border-radius: 2px;
        color: #333;
        font-size: 0.8rem;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    .u-form-group input:focus{
        border-color: #358efb;
    }
    .u-form-group #submitVal, .u-form-group #submitVal2, .u-form-group button{
        width: 50%;
        border: 2px solid green;
        background-color: transparent;
        outline: none;
        color: green;
        font-size: 14px;
        font-weight: normal;
        padding: 14px 0;
        border-radius: 2px;
        text-transform: uppercase;
        cursor: pointer
    }
    #goBack, #goBack2 {
        width: 50%;
        border: 2px solid red;
        background-color: transparent;
        outline: none;
        color: red;
        font-size: 14px;
        font-weight: normal;
        padding: 14px 0;
        border-radius: 2px;
        text-transform: uppercase;
        cursor: pointer
    }
    .forgot-password{
        width: 50%;
        text-align: left;
        text-decoration: underline;
        color: #888;
        font-size: 0.90rem;
        cursor: pointer;
        font-weight: 500;
    }
    .forgot-password:hover {
        color: red;
        text-decoration: none;
    }
    .u-form-group #submitVal:hover, .u-form-group #submitVal2:hover, .u-form-group button:hover {
        color: white;
        background-color: green;
    }
    #goBack:hover, #goBack2:hover {
        color: white;
        background-color: red;
    }
    #oneF {
        background-color: red;
        width: 20%;
        margin-top: 2%;
        margin-left: 0%;
        color: white;
        border: 2px solid white;
        border-left: none;
        font-weight: 600;
        padding: 1%;
    }